<a href="https://colab.research.google.com/github/Tarunsharma357/content/blob/main/Practice_ipy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
a = int(input())
print(a)

15
15

In [ ]:
z = int(input("enter the value of z"))
b = int(input("enter the value of b"))
c = z + b
print(c)

enter the value of z52
enter the value of b5
57

In [ ]:
 divisor = int(input())
 divedend = int(input())
 quo = divedend/divisor
 rem = divedend % divisor
 print("quo",quo)
 print("rem",rem)

5
54
quo 10.8
rem 4

In [ ]:
num = int(input("enter num"))
har = int(input("enter har"))
temp = num
num = har
har = temp
print("num",num)
print ("har",har)

enter num25
enter har52
num 52
har 25

In [ ]:
 c= "p"
 print(ord(c))

112

In [ ]:
def mul(x,y):
  three = x*y
  print(three)
mul(10,20)

200

In [ ]:
def eveodd(x):
  if(x%2==0):
    print("even")
  else:
    print("odd")
eveodd(100) 
eveodd(255)

even
odd

In [ ]:
numbers = int(input("enter the value of numbers"))
sum = 0
while(numbers > 0):
  sum = sum +numbers
  numbers = numbers - 1;
print(sum)

enter the value of numbers123
7626

In [ ]:
number = int(input("enter the value of numbers"))
fact = 1
while(number > 0):
  fact = fact *number
  number = number - 1;
print(fact)

enter the value of numbers200
788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

In [ ]:
char = str(input("enter the char"))
if(char == 'a'or char == 'e' or char =='i'or char =='o' or char =='u'or char ==
   'A' or char =='E' or char =='I' or char =='O' or char =='U' ):
  print("char is a vowel")
else:
  print("char is consonent")

enter the chartarun
char is consonent

In [ ]:
def largest(x,y,z):
  if(x>y and x>z):
    print(x, "is the largest",x)
  elif(y>x and y>z):
    print('y'"is the largest",y)
  elif(z>x and z>y):
    print(z," is the largest",z)
largest(10,20,30) 
largest(500,958,2)

30  is the largest 30
yis the largest 958

In [ ]:
a = int(input("enter the value of a"))
b = int(input("enter the value of b"))
c = int(input("enter the value of c"))
D = (b**2 -(4*a*c))**0.5
print(D)
root1 = -b +(D)/2*a
root2 = -b -(D)/2*a
print(root1)
print(root2)

enter the value of a1
enter the value of b2
enter the value of c1
0.0
-2.0
-2.0

In [ ]:
year =int(input("enter the year"))
if(year % 4 == 0):
  print("leap year")
else:
  print("not a leap year")

enter the year2004
leap year

In [ ]:
n = int(input("enter the value of n"))
c =0
while  (n>0 ):
  c = c +  n
  n = n -1
print(c)

enter the value of n15
120

In [ ]:
n1 = int(input())
c =0
for i in range (0,n1):
  c = n1 + c
  n1 = n1-1
print(c)

150
11325

In [ ]:
mul = int(input("enter the number for whic table is to be generated"))
n = int(input("enter the value upto which the table is to be generated "))
for i in  range(1,n):
 c = mul * i
 print(c)

enter the number for whic table is to be generated12
enter the value upto which the table is to be generated 10
12
24
36
48
60
72
84
96
108

In [ ]:
fib = int(input("enter the number"))
num1 =0
num2 = 1
if (fib < 0):
  print("input is wrong")
if(fib == 0):
  print(0)
if(fib==1):
  print(num1,num2)
if(fib>1):
  for i in range(0,fib):
    c = num1+ num2
    num1 =num2
    num2 = c
    print(c)

enter the number15
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [ ]:
g = int(input("enter the number"))
rev= 0
while(g!=0):
  digit = g %10
  rev = (rev * 10)+digit
  g//= 10
print(rev)

enter the number12358
85321

In [ ]:
4x = int(input("enter the value of x"))
y = int(input("enter the value of y"))
if(x>y):
  greater = x
if(y>x):
  greater =y
while(True):
  if( (greater%x == 0) and (greater % y ==0)):
    lcm = greater
    break
  greater +=1
print(lcm)

enter the value of x25
enter the value of y56
1400

In [ ]:
x = int(input("enter the value of x"))
y = int(input("enter the value of y"))
if(x<y):
  smaller = x
if(y<x):
  smaller =y
for i in range(1 , smaller +1):
  if( (x %i == 0) and (y% i ==0)):
    hcf = i
print(hcf)

enter the value of x125
enter the value of y254
1

In [ ]:
suum= int(input("enter the number"))
c=0
sum = str(suum)
for i in range(suum):
  c +=i
print(c)

enter the number236
27730

In [ ]:
x = int(input())
a = [int(x)for x in input().split()]
c= a[::-1]
print(*c)

3
2 3 5
5 3 2

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

enter the number of rows5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(n):
    if(j==0 or j== n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows5
*       *
*       *
*       *
*       *
*       *

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(n):
    if(i==0):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows5
* * * * *

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(n):
    if(i==n//2 or j== n//2):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows5
    *
    *
* * * * *
    *
    *

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(n):
    if(i==0 or j== n-1 or i == n-1 or j==0):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(n):
    if(j==i or j== n-1 or i == 0):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows5
* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(i+1):
    print(" *",end=" ")
  print()

enter the number of rows5
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(i,n):
    print("*",end=" ")
  print()

enter the number of rows5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input("enter the number of rows"))
for i in range(n):
  for j in range(i,n):
    print("",end=" ")
  for j in range(n):
    print(" *",end=" ")  
  print()

enter the number of rows5
      *  *  *  *  *
     *  *  *  *  *
    *  *  *  *  *
   *  *  *  *  *
  *  *  *  *  *

In [ ]:
n = int(input("enter the number of rows"))
p = 0
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
    p= p+1
  print()

enter the number of rows5
0
1 2
3 4 5
6 7 8 9
10 11 12 13 14

In [ ]:
n = int(input("enter the number of rows"))
p = 0
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p= p+1
  print()

enter the number of rows5
0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
n = int(input("enter a number : "))
sum = 0
c = 1
for i in range(0,n):
  sum =  sum +c
  c+=1
print(sum)

enter a number : 15
120